.header {
  width: 68.75vw;
  max-width: 880px;
  height: 74px;
  padding-top: 45px;
  margin: 0 auto;
  position: relative;
}

.header__logo-divider {
  border-bottom: 1px solid #545454;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 68.75vw;
  max-width: 880px;
}

@media screen and (max-width: 768px) {
  .header {
    height: 56px;
    padding-top: 28px;
    margin: 0;
    width: 100vw;
  }

  .header__logo-divider {
    width: 100vw;
    margin: 0;
  }
}
